.more-about-manakin {
  > div {
    > p {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      > img {
        height: 250px;
        text-align: center;
      }
    }
  }
}
