.link-underlined {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  a {
    text-decoration: none;
    text-align: center;
  }
  
  .underline {
    background-color: #fc0;
    height: 2px;
    width: 0%;
    margin-top: 5px;
  }

  &.highlighted {
    font-weight: 600;
  }
}