@import 'src/resources/colors.scss';

.link-underlined {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &:hover {
    font-weight: 600;
  }
  > a {
    color: $bodyManakin;
    border: none;
    text-decoration: none;
    text-align: center;
  }

  > .underline {
    background-color: $yellowManakin;
    height: 2px;
    width: 0%;
    margin-top: 5px;
  }

  &.highlighted {
    font-weight: 600;
  }
}
