@import 'src/resources/colors.scss';

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 100 500;
  src: local('Fira Mono'),
    url('../../resources/font/FiraMono-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 500 900;
  src: local('Fira Mono'),
    url('../../resources/font/FiraMono-Bold.ttf') format('opentype');
}
@font-face {
  font-family: 'Fira Mono';
  font-style: italic;
  font-display: swap;
  font-weight: normal;
  src: url('../../resources/font/Courier Prime Italic.ttf') format('opentype');
}

body {
  // font-family: 'Courier', 'Courier New', monospace;
  font-family: 'Fira Mono', 'Courier', monospace;
  font-size: 18px;
  color: $bodyManakin;
  background-color: $backgroundManakin;
  font-weight: 300;
  margin: 0;
  padding: 0;

  div#layout-global > div:not(header) {
    max-width: 1250px;
    margin: 20px auto 0;
    width: calc(100% - 80px);
    @media (min-width: 1px) and (max-width: 1024px) {
      width: calc(100% - 40px);
    }
  }
  a:not(.link-underlined):not(.button) {
    border-bottom: 2px solid transparent;
    color: $bodyManakin;
    text-decoration: none;
    transition: color 150ms ease-in-out;
  }
  a:not(.link-underlined):not(.button):hover {
    border-bottom: 2px solid $bodyManakin;
    font-weight: 600;
  }

  a.button {
    color: $bodyManakin;
    text-decoration: none;
  }
}
.separator {
  color: $yellowManakin;
  font-weight: 500;
  margin-bottom: 5px;
}

.bracket {
  cursor: pointer;
  font-weight: 500;
  transition: color 100ms ease-in;

  &:hover {
    color: $bodyManakin;
  }

  &:before {
    content: '[';
    color: $yellowManakin;
    font-weight: 900;
  }

  &:after {
    content: ']';
    color: $yellowManakin;
    font-weight: 900;
  }
}
