@import 'src/resources/colors.scss';

.artist-page {
  max-width: 1250px;
  margin: 20px auto 0;
  width: calc(100% - 80px);
  @media (min-width: 1px) and (max-width: 1024px) {
    width: calc(100% - 40px);
  }

  h1 {
    margin-top: 0;
    font-size: 1.5rem;
    display: inline-block;
  }

  h3 {
    font-size: 1.2rem;
    display: inline-block;
    margin: 0 0 5px;
  }

  .bread-crumb {
    font-size: 1.4rem;
    display: flex;
    align-items: center;

    > a:last-of-type {
      font-weight: 600;
      white-space: nowrap;
      border-bottom: 2px solid $yellowManakin;
    }

    > .hand-separator {
      margin: 0 10px;
    }
  }

  .artist-container {
    display: flex;
    align-items: stretch;
    justify-content: left;
    position: relative;
    margin: 30px 0 0;

    .first-col {
      max-height: 100%;
      height: calc(100vh - 230px);
      min-height: 450px;
      overflow: auto;
      width: 35%;
      flex-shrink: 0;
      margin-right: 10px;

      > div.artist-description {
        font-size: 0.9rem;
        line-height: 1.8;
        padding-bottom: 50px;

        > p:first-of-type {
          margin-top: 0;
        }

        &:after {
          position: absolute;
          content: '';
          width: 35%;
          height: 30px;
          bottom: 0;
          background: linear-gradient(0deg, #fff, transparent);
        }
      }
    }

    .second-col {
      margin: 0 15px 30px;
      display: flex;
      flex-direction: column;
      width: 35%;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
      > div > li {
        > div:last-of-type {
          margin-bottom: 5px;
          flex-direction: column;
          display: flex;
          align-items: flex-start;
          width: 100%;

          > div:first-of-type {
            width: 100%;
          }

          > a.more {
            margin-top: 6px;
            position: relative;
            z-index: 0;
            cursor: pointer;
            display: inline-block;
            font-size: 0.8rem;

            &:before {
              z-index: 1;
              content: ' ';
              display: block;
              position: absolute;
              top: 4px;
              left: 4px;
              height: 100%;
              width: 100%;
              background: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1"><defs><pattern id="Pattern2" patternUnits="userSpaceOnUse" width="5" height="5"><path d="M 0,5 l 5,-5 M -1,1 l 2.5,-2.5 M 4,6 l 2.5,-2.5" stroke-width="1" shape-rendering="auto" stroke="rgb(67, 54, 91)" stroke-linecap="square"></path></pattern></defs><rect fill="url(%23Pattern2)" x="0" y="0" width="100" height="100"/></svg>');
            }

            > p {
              z-index: 20;
              position: relative;
              background: $backgroundManakin;
              border: 1px solid $bodyManakin;
              padding: 5px;
              margin: 0;
            }

            &:hover {
              > p {
                transform: translateY(-2px);
                font-weight: 900;
              }
            }
          }
        }
      }

      .picture-credit {
        margin: 8px 0;
        font-style: italic;
        font-size: 0.7rem;
        color: #aaa;
      }

      .sub-section {
        margin-top: 20px;
      }
    }

    .third-col {
      width: 30%;
      margin: 0 10px 30px;
      display: flex;
      flex-direction: column;

      > div > li > div:not(.separator) {
        font-size: 0.9rem;

        > div.date {
          display: flex;
          flex-direction: row;
          font-size: 0.9rem;
          margin: 6px 0 3px;

          > .separator {
            margin: 0 8px;
          }
        }

        > div.bracket {
          font-size: 1rem;

          > a {
            margin: 0 7px;
          }
        }

        > div.city {
          font-size: 0.8rem;
          font-style: italic;
        }

        > div.theatre,
        > a.theatre {
          font-size: 0.9rem;

          > .hand-separator {
            margin-right: 7px;
          }
        }
      }

      > div.artist-links {
        font-size: 0.9rem;
        margin-top: 20px;

        > div > a > span {
          vertical-align: middle;
        }
      }
    }

    .sub-section {
      border: 1px solid $yellowManakin;
      position: relative;
      padding: 20px;
      font-size: 0.9rem;
      flex-grow: 1;

      > h2 {
        margin-top: 0;
        font-size: 18px;
        display: inline-block;
        background-color: #fff;
        position: absolute;
        top: -12px;
        left: 15px;
        padding: 0 5px;
      }

      > li {
        list-style-type: none;
        display: flex;
        margin: 5px 0 20px;

        > div:first-of-type {
          margin-right: 15px;
        }
      }
    }
    @media (min-width: 521px) and (max-width: 1024px) {
      margin: 20px 0 0;
      .first-col {
        width: 50%;

        .artist-description:after {
          width: 50% !important;
        }
      }

      .second-col {
        width: 50%;
        margin: 0;
      }

      .third-col {
        display: none;
      }
    }

    @media (min-width: 1px) and (max-width: 520px) {
      flex-direction: column-reverse;
      margin: 20px 0 0;

      .first-col {
        width: 100%;
        height: auto;
      }

      .second-col {
        width: 100%;
        margin: 0 0 20px;
      }

      .third-col {
        display: none;
      }
    }
  }
}
