@import 'src/resources/colors.scss';

.artist-page {
  font-family: 'Fira Mono', 'Courier', monospace;
  h2 {
    font-size: 1.2rem;
    display: inline-block;
    margin: 0 0 5px;
  }

  .artist-container {
    display: flex;
    align-items: stretch;
    justify-content: left;
    position: relative;
    margin: 30px 0 0;

    .first-col {
      width: 35%;
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 10px;
      position: relative;

      > div.artist-description {
        font-size: 1rem;
        line-height: 1.6;
        position: absolute;
        margin: 0;
        height: 100%;
        overflow: auto;
        width: 100%;

        > p:first-of-type {
          margin-top: 0;
        }
      }

      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 15px;
        bottom: 0;
        background: linear-gradient(0deg, #fff, transparent);
        z-index: 10;
      }

      &:before {
        z-index: 10;
        position: absolute;
        content: '';
        width: 100%;
        height: 8px;
        top: 0;
        background: linear-gradient(0deg, transparent, #fff);
      }
    }

    .second-col {
      margin: 0 15px;
      display: flex;
      flex-direction: column;
      width: 35%;

      img {
        width: 100%;
        height: 250px;
        background-color: #eee;
        object-fit: cover;
      }
      > div > li {
        > div:last-of-type {
          margin-bottom: 5px;
          flex-direction: column;
          display: flex;
          align-items: flex-start;
          width: 100%;

          > div:first-of-type {
            width: 100%;
          }

          > a.more {
            margin-top: 6px;
            position: relative;
            z-index: 0;
            cursor: pointer;
            display: inline-block;
            font-size: 0.8rem;

            &:before {
              z-index: 1;
              content: ' ';
              display: block;
              position: absolute;
              top: 4px;
              left: 4px;
              height: 100%;
              width: 100%;
              background: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1"><defs><pattern id="Pattern2" patternUnits="userSpaceOnUse" width="5" height="5"><path d="M 0,5 l 5,-5 M -1,1 l 2.5,-2.5 M 4,6 l 2.5,-2.5" stroke-width="1" shape-rendering="auto" stroke="rgb(67, 54, 91)" stroke-linecap="square"></path></pattern></defs><rect fill="url(%23Pattern2)" x="0" y="0" width="100" height="100"/></svg>');
            }

            > p {
              z-index: 20;
              position: relative;
              background: $backgroundManakin;
              border: 1px solid $bodyManakin;
              padding: 5px;
              margin: 0;
            }

            &:hover {
              > p {
                transform: translateY(-2px);
                font-weight: 900;
              }
            }
          }
        }
      }

      .picture-credit {
        margin: 8px 0;
        font-style: italic;
        font-size: 0.8rem;
        color: $pictureLegendManakin;
      }

      .sub-section {
        margin-top: 20px;
      }
    }

    .third-col {
      width: 30%;
      margin: 0 10px 30px;
      display: flex;
      flex-direction: column;

      > div > li > div:not(.separator) {
        font-size: 0.9rem;

        > div.date {
          display: flex;
          flex-direction: row;
          font-size: 0.9rem;
          margin: 6px 0 3px;

          > .separator {
            margin: 0 8px;
          }
        }

        > div.bracket {
          font-size: 1rem;
          line-height: 1.2;
        }

        > div.city {
          font-size: 0.8rem;
          font-style: italic;
        }

        > div.theatre,
        > a.theatre {
          font-size: 0.9rem;

          > .hand-separator {
            margin-right: 7px;
          }
        }
      }

      > div.artist-links {
        font-size: 0.9rem;
        margin-top: 20px;

        > div > a > span {
          vertical-align: middle;
        }
      }
    }

    .sub-section {
      border: 1px solid $yellowManakin;
      position: relative;
      padding: 20px;
      font-size: 0.9rem;
      flex-grow: 0;

      > h2 {
        margin-top: 0;
        font-size: 18px;
        display: inline-block;
        background-color: #fff;
        position: absolute;
        top: -12px;
        left: 15px;
        padding: 0 5px;
      }

      > li {
        list-style-type: none;
        display: flex;
        margin: 5px 0 20px;

        > div:first-of-type {
          margin-right: 15px;
        }

        &:last-of-type {
          margin-bottom: 10px;
        }
      }
    }
    @media (min-width: 651px) and (max-width: 1024px) {
      margin: 20px 0 0;
      .first-col {
        width: 50%;
      }

      .second-col {
        width: 50%;
        margin: 0;
      }

      .third-col {
        display: none;
      }
    }

    @media (min-width: 1px) and (max-width: 650px) {
      flex-direction: column;
      margin: 20px 0 0;

      .first-col {
        width: 100%;
        height: auto;
        order: 2;

        > div.artist-description {
          position: relative;
          margin: 0 0 50px;
        }
        &:after,
        &:before {
          display: none;
        }
      }

      .second-col {
        width: 100%;
        order: 1;
        margin: 0 0 20px;
      }

      .third-col {
        order: 3;
        width: 100%;
        margin: 0 0 20px;
      }
    }
  }
}
