@import 'src/resources/colors.scss';

.agenda-page {
  max-width: 1400px;
  margin: 20px auto 0;
  width: calc(100% - 80px);
  @media (min-width: 1px) and (max-width: 1024px) {
    width: calc(100% - 40px);
  }

  .bread-crumb {
    font-size: 1.4rem;
    display: flex;
    align-items: center;

    > a:last-of-type {
      font-weight: 600;
      border-bottom: 2px solid $yellowManakin;
    }

    > .hand-separator {
      margin: 0 10px;
    }
  }

  .separator {
    margin: 0 10px;
  }
  > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    > li {
      font-size: 1rem;
      list-style-type: none;
      display: flex;
      align-items: flex-start;
      margin: 10px 15px 0 0;
      padding: 15px;
      flex-direction: column;
      border: 1px solid $yellowManakin;

      > div.date {
        display: flex;
        flex-direction: row;
        font-size: 0.9rem;
        margin: 6px 0 3px;
      }

      > div.show-name {
        font-size: 1rem;
        margin-bottom: 3px;
      }

      > div.bracket {
        font-size: 1rem;

        > a {
          margin: 0 7px;
        }
      }

      > div.city {
        font-size: 0.8rem;
        font-style: italic;
      }

      > div.theatre {
        font-size: 0.9rem;
      }
    }
  }
}
