.logo {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  width: 530px;

  > a {
    border-bottom: none !important;
    > img {
      height: 75px;
      margin: 10px 10px 0 0;
    }
  }

  > div {
    > p {
      margin: 0;
      line-height: 23px;
    }

    > div {
      font-size: 0.8rem;
    }
  }

  @media (min-width: 1px) and (max-width: 1024px) {
    > div {
      display: none;
    }

    > a > img {
      margin: 20px 20px 0 5px;
      height: 50px;
    }
  }
}
