@import 'src/resources/colors.scss';

body {
  font-family: 'Courier', 'Fira Mono', 'Courier New', monospace;
  font-size: 18px;
  color: $bodyManakin;
  background-color: $backgroundManakin;
  font-weight: 300;
  margin: 0;
  padding: 0;

  a:not(.link-underlined):not(.button) {
    border-bottom: 2px solid transparent;
    color: $bodyManakin;
    text-decoration: none;
    transition: color 150ms ease-in-out;
  }
  a:not(.link-underlined):not(.button):hover {
    border-bottom: 2px solid $bodyManakin;
    font-weight: 600;
  }

  a.button {
    color: $bodyManakin;
    text-decoration: none;
  }
}
.separator {
  color: $yellowManakin;
  font-weight: 500;
  margin-bottom: 5px;
}

.bracket {
  cursor: pointer;
  font-weight: 500;
  transition: color 100ms ease-in;

  &:hover {
    color: $bodyManakin;
  }

  &:before {
    content: '[';
    color: $yellowManakin;
    font-weight: 900;
  }

  &:after {
    content: ']';
    color: $yellowManakin;
    font-weight: 900;
  }
}

.home {
  font-size: 16px;
  color: $bodyManakin;
  position: relative;
  padding-bottom: 70px;

  .summary {
    margin: 75px auto 0;
    width: 80%;
    max-width: 900px;

    h1 {
      font-size: 1.4rem;
      line-height: 45px;
      font-weight: 300;
      font-size: 19px;
      margin: 0;
      text-align: center;
    }

    .artists {
      font-size: 1.4rem;
      line-height: 45px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0 20px;
      flex-wrap: wrap;
      line-height: initial;

      > div {
        display: flex;
        align-items: center;
        margin: 15px 10px 0;

        .artist-name {
          text-align: center;
        }
      }

      .separator {
        margin-left: 20px;
      }
    }
    .contact {
      display: flex;
      justify-content: center;
      margin: 100px 0 50px;
      font-size: 1rem;
      line-height: 1.5;

      > div:first-of-type {
        text-align: right;
        border-right: 2px solid $yellowManakin;
        padding-right: 15px;
      }

      > div:last-of-type {
        padding-left: 15px;
        text-align: left;
      }
    }
  }

  > div.footer {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    vertical-align: center;

    .separator {
      margin: 0 10px;
    }
  }
}
