.home {
  font-family: 'Courier New', Courier, monospace;
  overflow: auto;
  font-size: 21px;
  color: #43365b;
  font-weight:300;
  
  a {
    color: #43365b;
  }
  a:hover {
    color: #000;
  }
  
  .separator {
    color: #ead94c;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .bracket { 
    cursor:pointer;
    
    &:hover {
      color: #dd3546;
      transition: color 200ms ease-in-out;
    }

    &:before {
      content: "[";
      color: #ead94c;
      font-weight: 900;
    }

    &:after {
      content: "]";
      color: #ead94c;
      font-weight: 900;
    }
  }

  .summary {
    font-size: 1.4rem;
    line-height: 45px;
    margin: 0 10%;
    width: 80%;
    margin-top: 75px;

    p {
      margin:0;
      text-align: center;
    }

    .artists {
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0 20px;
      flex-wrap: wrap;
      line-height: initial;


      > div {
        display: flex;
        align-items: center;
        margin: 15px 10px 0;

        .artist-name {
          text-align: center;
        }
      }

      .separator {
        margin-left: 20px;
      }
    }
  }
}
